*{
    margin: 0;
    padding: 0;
}
nav{
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    width: 100%;
}
ul{
    text-align: right;
    height: 90px;
    list-style: none;
    padding-right: 50px;
    width: 100%;
}
li{
    display: inline;
    margin: 20px;
    cursor: pointer;
    list-style: none;
}
a{
    color: rgb(27, 27, 31);
    text-decoration: none;
}
a:hover{
    color: rgb(181, 178, 174)
}
.img-principal{
  width: 100%;
  height: auto;
}
.box-img-principal {
   /*  background-color: blue; */
   width: 130%;
}
.menu-hamburguer{
   font-size: 1.8em;
    float: right;
    visibility: hidden;
    margin-top: 20px;
}
.box-imagenes{
  display: grid;
  width: 90%;
 
  margin: 0 auto; 
  grid-template:"dsp-audi dsp-electro dsp-isusi";
  
}
.dsp-audi{
    grid-area: dsp-audi;
}
.dsp-electro{
    grid-area: dsp-electro;
}
.dsp-isusi{
    grid-area:dsp-isusi;
}
@media only screen and (max-width: 968px){
    ul li{
        visibility: hidden;
    }
    .menu-hamburguer{
        visibility: visible;
    }
    .box-imagenes{
        grid-template:"dsp-audi"
                    "dsp-electro" 
                    "dsp-isusi";
    }
}

